<table>
  <tr>
    <th>№</th>
    <% if show_photo %>
      <th>Фото</th>
    <% end %>
    <th><%= sortable 'description', 'Название места' %></th>
    <th><%= sortable 'address', 'Адрес' %></th>
    <th><%= sortable 'rating', 'Рейтинг' %></th>
    <th><%= sortable 'comment', 'Комментарий' %></th>
    <th><%= sortable 'created_at', 'Дата добавления' %></th>
    <th><%= sortable 'user_id', 'Автор' %></th>
    <th>Ссылка</th>
  </tr>

  <% i = 1 %>
<% features.each do |feature| %>
  <% next unless feature.approved? %>
  <tr>
    <td><%= i %></td>
    <% if show_photo %>
      <td><%= link_to image_tag(feature.photo.url(:thumb)), feature.photo.url(:large), :rel => "lightbox", :title => feature.description  unless feature.photo_file_name.nil? %><br/>
        <%= link_to t('.original_img_size'), feature.photo.url unless feature.photo_file_name.nil? %></td>
    <% end %>
    <td><%=feature.description %></td>
    <td><%=feature.address unless feature.address.blank? %></td>
    <td><%= feature.rating %></td>
    <td><%= feature.comment %></td>
    <td><%= feature.created_at.to_date %></td>
    <% if user_signed_in? and current_user.admin? then -%>
      <td><%= link_to feature.user.name, user_path(feature.user) unless feature.user.nil? %></td>
    <% else %>
      <td><%= feature.user.name unless feature.user.nil? %></td>
    <% end %>
    <td><%= link_to '→', map_url + "?feature=#{feature.id}", :title => 'Карта' %></td>
  </tr>
  <% i += 1 %>
<% end %>
</table>

<br />

