<% if @feature.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @feature, :remote => true do |f| %>
  <%= f.hidden_field :geometry unless @feature.geometry.nil? %>
  <div class="field">
    <%= f.radio_button :existing, false %><%= f.label :existing, 'Желаемая', :value => false %>
    <%= f.radio_button :existing, true %><%= f.label :existing, 'Существующая', :value => true %>
  </div>
  <div class="field mandatory">
    <%= f.label :description, 'Адрес:' %><br/>
    <%= f.text_field :description %>
  </div>
    <% unless @feature.photo_file_name.nil? %>
  <div class="field">
    <%= link_to image_tag(@feature.photo.url(:thumb)), @feature.photo.url(:large), :rel => "lightbox", :title => @feature.description %>
      <%= check_box_tag 'remove_photo' %>
      <%= label_tag 'remove_photo', 'Удалить фото' %>
  </div>
  <% end %>
  <div class="field hidden" id="photo">
    <%= f.label :photo, 'Загрузить фото:' %><br/>
    <%= f.file_field :photo %>
  </div>
  <!--
  <div class="field">
    <%= f.label :capacity, 'Ёмкость:' %>
    <%= f.number_field :capacity, :min => 1, :size => 3 %>
  </div>
  -->
  <div class="field">
    <%= f.label :comment, 'Комментарий:' %><br/>
    <%= f.text_field :comment %>
  </div>
  <% if !current_user.nil? and current_user.admin? %>
    <div class="field">
      <%= f.check_box :approved %>
      <%= f.label :approved, 'Одобрено' %>
    </div>
  <% end %>
  <div class="submit">
    <%= f.submit 'Сохранить' %>
    <%= f.submit 'Отмена', :class => 'cancel' %>
    <%= link_to 'Удалить', '#', :class => 'feature-del-link', :remote => true, :method => :delete unless @feature.id.nil? %>
  </div>
<% end %>
