<% if @feature.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@feature.errors.count, "error") %> prohibited this member from being saved:</h2>

    <ul>
      <% @feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @feature, :remote => true do |f| %>
  <%= f.hidden_field :geometry unless @feature.geometry.nil? %>
  <div class="field">
    <%= f.label :existing, 'Тип' %>
    <%= f.radio_button :existing, false %><%= f.label :existing, 'Желаемая', :for => false %>
    <%= f.radio_button :existing, true %><%= f.label :existing, 'Существующая', :for => true %>
  </div>
  <div class="field">
    <%= f.label :description, 'Место' %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :photo, 'Фотография' %>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :capacity, 'Ёмкость' %>
    <%= f.number_field :capacity, :min => 1, :size => 3 %>
  </div>
  <div class="field">
    <%= f.label :comment, 'Комментарий' %>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.check_box :approved %>
    <%= f.label :approved, 'Одобрено' %>
  </div>
  <div class="submit">
    <%= f.submit 'Сохранить' %>
  </div>
  <div class="submit">
    <%= f.submit 'Отмена', :class => 'cancel' %>
  </div>
<% end %>
