<% content_for :head do %>
  <%= stylesheet_link_tag    "leaflet", :media => "all" %>
  <!--[if lte IE 8]><%= stylesheet_link_tag "leaflet.ie", :media => "all" %><![endif]-->
  <%= javascript_include_tag "leaflet" %>
  <%= javascript_include_tag "features-map" %>
<% end %>

<% unless current_user.nil? %>
  <%= tag 'div', { id: 'current-user', data: {uid: current_user.id, admin: current_user.admin?, name: current_user.name} }, true %></div>
<% end %>
<div>
  <p>Отмечайте, пожалуйста, те места, в которых, по вашему мнению, должны стоять станции <a href="http://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D1%81%D0%BE%D0%B2%D0%BC%D0%B5%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE_%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F_%D0%B2%D0%B5%D0%BB%D0%BE%D1%81%D0%B8%D0%BF%D0%B5%D0%B4%D0%BE%D0%B2"> городского велопроката</a>. Для отметки просто кликните на карту (если масштаб мелкий, то карта приблизится, тогда клините ещё раз) и заполните всплывающую форму.<p>
<p>Опрос проводит <a href="http://bike.org.by/">Минское велосипедное общество</a> в рамках исследования.</p></div>

<div id="map" style="height: 600px; width: 100%;" data-center-lat="<%= Rails.application.config.map_center_lat -%>" data-center-lon="<%= Rails.application.config.map_center_lon -%>" data-zoom="<%= Rails.application.config.map_zoom -%>" /></div>


<% content_for :left do %>
  <div class="custom-block">
    <h3>Места</h3>

  <div class="tabs-panel top-features" id="tab-all">
    <ul>
      <% @features.each do |feature| %>
        <li class="feature">
        <a href="#" class="feature-top-item" id="feature_top_item_<%= feature.id -%>">
          <div class="feature-list-icon leaflet-div-icon-bikesharing"><strong><%= feature.rating %></strong></div>
          <%= feature.description %>
        </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>


<% content_for :bottom do %>
  <div id="comments-latest" class="comments-latest custom-block">
    <h3>Комментарии</h3>
    <div class="comment-post-container">
      <%= link_to 'Комментировать', new_comment_path, :remote => true if user_signed_in? %>
    </div>
    <ul class="comments-list">
      <% @latest_comments.each do |comment| %>
        <%= render :file => 'comments/_comment', :locals => { :comment => comment } %>
      <% end %>
    </ul>
      <%= will_paginate @latest_comments, :param_name => :comments_page %>
  </div>
<% end %>

