<% content_for :head do %>
  <%= stylesheet_link_tag    "leaflet", :media => "all" %>
  <!--[if lte IE 8]><%= stylesheet_link_tag "leaflet.ie", :media => "all" %><![endif]-->
  <%= javascript_include_tag "leaflet" %>
  <%= javascript_include_tag "features-map" %>
<% end %>

<% unless current_user.nil? %>
  <%= tag 'div', id: 'current-user', data: {uid: current_user.id, admin: current_user.admin?, name: current_user.name}, :open => true %></div>
<% end %>

<div id="map" style="height: 400px; width: 100%;" /></div>

<% content_for :left do %>
  <% if !current_user.nil? and current_user.admin? %>
    <div class="top-features custom-block">
      <h3>На модерацию</h3>
      <ul>
        <% @not_approved_features.each do |feature| %>
          <li class="feature">
          <a href="#" class="feature-top-item" id="feature_top_item_<%= feature.id -%>">
            <div class="feature-list-icon leaflet-div-icon-<%= feature.existing? ? 'existing' : 'desired' -%> <%= 'feature-notapproved' unless feature.approved? %>"><strong><%= feature.rating %></strong></div>
            <%= feature.description %>
          </a>
          </li>
        <% end %>
      </ul>
    </div>

  <% end %>
  <div class="top-features custom-block">
    <h3>Последние 15</h3>
    <ul>
      <% @top_features.each do |feature| %>
        <li class="feature">
        <a href="#" class="feature-top-item" id="feature_top_item_<%= feature.id -%>">
          <div class="feature-list-icon leaflet-div-icon-<%= feature.existing? ? 'existing' : 'desired' -%> <%= 'feature-notapproved' unless feature.approved? %>"><strong><%= feature.rating %></strong></div>
          <%= feature.description %>
        </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<% content_for :bottom do %>
  <div id="comments-latest" class="comments-latest custom-block">
    <h3>Комментарии</h3>
    <div class="comment-post-container">
      <%= link_to 'Комментировать', new_comment_path, :remote => true if user_signed_in? %>
    </div>
    <%= will_paginate @latest_comments, :param_name => :comments_page %>
    <ul class="comments-list">
      <% @latest_comments.each do |comment| %>
        <%= render :file => 'comments/_comment', :locals => { :comment => comment } %>
      <% end %>
    </ul>
      <%= will_paginate @latest_comments, :param_name => :comments_page %>
  </div>
<% end %>

