<% content_for :head do %>
  <%= stylesheet_link_tag    "leaflet", :media => "all" %>
  <!--[if lte IE 8]><%= stylesheet_link_tag "leaflet.ie", :media => "all" %><![endif]-->
  <%= javascript_include_tag "leaflet" %>
  <%= javascript_include_tag "features-map" %>
<% end %>

<%= tag 'div', id: 'current-user', data: {uid: current_user.id, admin: current_user.admin?, name: current_user.name} unless current_user.nil? %>
<div id="map" style="height: 400px; width: 100%;" /></div>
<% if user_signed_in? and current_user.admin? %>
  <p><%= link_to "Список парковок", features_path %></p>
<% end %>

<% content_for :left do %>
  <% if !current_user.nil? and current_user.admin? %>
  <div class="top-features">
    <h3>На модерацию</h3>
    <% @not_approved_features.each do |feature| %>
      <div class="feature">
        <a href="#" class="feature-top-item" id="feature_top_item_<%= feature.id -%>">
        <img src="/assets/marker-icon.png" />
        <%= feature.description %>
      </a>
      </div>
    <% end %>
  </div>

  <% end %>
  <div class="top-features">
    <h3>Топ-20 велопарковок</h3>
    <% @top_features.each do |feature| %>
      <div class="feature">
        <a href="#" class="feature-top-item" id="feature_top_item_<%= feature.id -%>">
        <img src="/assets/marker-icon.png" />
        <%= feature.description %>
      </a>
      </div>
    <% end %>
  </div>
<% end %>


<% content_for :bottom do %>
  <div id="comments-latest" class="comments-latest">
    <h3>Комментарии</h3>
    <div class="comment-post-container">
      <%= link_to 'Комментировать', new_comment_path, :remote => true if user_signed_in? %>
    </div>
    <ul class="comments-list">
      <%= will_paginate @latest_comments, :param_name => :comments_page %>
      <% @latest_comments.each do |comment| %>
        <%= render :file => 'comments/_comment', :locals => { :comment => comment } %>
      <% end %>
      <%= will_paginate @latest_comments, :param_name => :comments_page %>
  </div>
<% end %>

