<% if have_edit_permissions?(@feature) %>
  <div id="feature-popup-nav"><a id="edit-link">Edit</a></div>
<% end %>

<div>
  <strong><%= @feature.existing? ? 'Существующая' : 'Желаемая' %></strong>
<div>
  <strong>Место:</strong><br/>
  <%= @feature.description %>
</div>
<div>
  <strong>Фото:</strong><br/>
  <%= link_to image_tag(@feature.photo.url(:thumb)), @feature.photo.url(:large), :rel => "lightbox", :title => @feature.description  unless @feature.photo_file_name.nil? %>
</div>
<div>
  <strong>Ёмкость:</strong>
  <%= @feature.capacity %>
</div>
<div>
  <strong>Комментарий:</strong><br/>
  <%= @feature.comment %>
</div>
<div>
  <strong>Автор:</strong><br/>
  <%= @feature.user.name %>
</div>




