<!DOCTYPE html>
<html>
<head>
  <title>Карта велопарковок</title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "blueprint/screen", :media => "screen" %>
  <%= stylesheet_link_tag    "blueprint/print", :media => "print" %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name unless MapEverything::Application.assets.find_asset("#{controller_name}.js").nil?  %>

  <%= yield :head %>

  <%= stylesheet_link_tag  controller_name, :media => "all" unless MapEverything::Application.assets.find_asset("#{controller_name}.css").nil? %>

  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>
</head>
<body>

  <div class="container">
    <div id="header" class="span-24 last">
      <nav id="secondary">
      <ul>
      <% if user_signed_in? and current_user.admin? %>
        <li><%= link_to "Список парковок", features_path %></li>
      </ul>
      <% end %>

      </nav>
    <nav id="main">
      <ul>
        <% unless action_name == "map" %>
          <li><%= link_to "Карта", map_path %></li>
        <% end %>
        <% if user_signed_in? -%>
          <% if current_user.admin? %>
            <li><%= link_to "Пользователи", users_path %></li>
          <% end %>
          <li><%= link_to_user current_user %></li>
          <li><%= link_to "Выйти", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Войти", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <%= yield(:header) %>
  </div>

  <div class="span-24 last">
    <div id="center">
      <% unless notice.nil? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% unless alert.nil? %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <div id="left" class="span-6">
      <%= yield(:left) %>
    </div>

    <div id="right" class="span-18 last">
      <%= yield(:bottom) %>
    </div>
  </div>

  <div id="footer" class="span-24 last">
    <p>
    <%= link_to feed_path do
      image_tag('feed.png', :class => 'link-icon') + ' RSS'
    end %><br/>
    <%= link_to moderator_feed_path do
      image_tag('feed.png', :class => 'link-icon') + ' RSS — модераторское'
    end  if user_signed_in? and current_user.admin? %>
    </p>
    <%= yield(:footer) %>
  </div>
  </div>


</body>
</html>
