<!DOCTYPE html>
<html>
<head>
  <title>Карта велопарковок</title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "blueprint/screen", :media => "screen" %>
  <%= stylesheet_link_tag    "blueprint/print", :media => "print" %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "application", controller_name unless MapEverything::Application.assets.find_asset("#{controller_name}.js").nil?  %>

  <%= yield :head %>

  <%= stylesheet_link_tag  controller_name, :media => "all" unless MapEverything::Application.assets.find_asset("#{controller_name}.css").nil? %>

</head>
<body>

  <div class="container">
  <div id="header" class="span-24 last">
    <nav>
      <ul>
        <li><%= link_to "Карта", map_path %></li>
        <% if user_signed_in? -%>
          <% if current_user.admin? %>
            <li><%= link_to "Пользователи", users_path %></li>
          <% end %>
          <li><%= link_to current_user.name, edit_user_registration_path %></li>
          <li><%= link_to "Выйти", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Войти через Facebook", user_omniauth_authorize_path(:facebook) %></li>
          <li><%= link_to "Войти", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <h1> Карта велопарковок </h1>
    <%= yield(:header) %>
  </div>

    <div id="left" class="span-6">
      <%= yield(:left) %>
    </div>

    <div class="span-18 last">
      <div id="center">
        <% unless notice.nil? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% unless alert.nil? %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>

      <div id="bottom">
        <%= yield(:bottom) %>
      </div>
    </div>

  <div id="footer" class="span-24 last">
    <%= yield(:footer) %>
  </div>
  </div>


</body>
</html>
