<!DOCTYPE html>
<html>
<head>
  <title>MapEverything</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<%= yield %>

</body>
</html>
