<div id="feature-popup-header">
  <% unless @title.nil? %>
    <h3 id="popup-title"><%= @title %></h3>
  <% end %>
  <% unless @subtitle.nil? %>
    <h4 id="popup-subtitle"><%= @subtitle %></h4>
  <% end %>
</div>
<div id="feature-popup-contents">

  <% unless notice.nil? %>
    <p class="notice"><%= notice %></p>
  <% end -%>

  <% unless alert.nil? %>
    <p class="alert"><%= alert %></p>
  <% end -%>

  <%= yield %>
  <% unless @hide_like %>
    <div id="like_widget">
      <%= render 'like_widget' %>
    </div>
  <% end %>
</div>
