<!DOCTYPE html>
<html>
<head>
  <title>MapEverything</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "leaflet", :media => "all" %>
  <!--[if lte IE 8]><%= stylesheet_link_tag "leaflet.ie", :media => "all" %><![endif]-->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "blueprint/screen", :media => "screen" %>
  <%= stylesheet_link_tag    "blueprint/print", :media => "print" %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->

  <%= stylesheet_link_tag  controller_name, :media => "all" unless MapEverything::Application.assets.find_asset("#{controller_name}.css").nil? %>
  <%= javascript_include_tag "leaflet" %>
  <%= javascript_include_tag "application", controller_name unless MapEverything::Application.assets.find_asset("#{controller_name}.js").nil?  %>
  <%= javascript_include_tag "features-map" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <nav>
      <ul>
        <li><%= link_to "Map", map_path %></li>
        <% if user_signed_in? -%>
          <li><%= link_to "Sign out (#{current_user.email})", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <h1> The bikerack map </h1>
    <%= yield(:header) %>
    <% unless notice.nil? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </div>

  <div id="container">
    <div id="center" class="column">
      <%= yield %>
    </div>

    <div id="left" class="column">
      <%= yield(:left) %>
    </div>

    <div id="right" class="column">
      <%= yield(:right) %>
    </div>

  </div>
  <div id="footer">
    <%= yield(:footer) %>
  </div>


</body>
</html>
