<!DOCTYPE html>
<html>
<head>
  <title>MapEverything</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "leaflet", :media => "all" %>
  <!--[if lte IE 8]><%= stylesheet_link_tag "leaflet.ie", :media => "all" %><![endif]-->
  <%= javascript_include_tag "leaflet" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <%= yield(:header) %>
    <h1> The bikerack map </h1>
  </div>

  <div id="container">
    <div id="center" class="column">
      <%= yield %>
    </div>

    <div id="left" class="column">
      <%= yield(:left) %>
    </div>

    <div id="right" class="column">
      <%= yield(:right) %>
    </div>

  </div>
  <div id="footer">
    <%= yield(:footer) %>
  </div>


</body>
</html>
